resources/api.json
lib/tomorrow/.gradle
lib/tomorrow/.idea
lib/tomorrow/build
lib/tomorrow/gradle

lib/stormglass/.gradle
lib/stormglass/.idea
lib/stormglass/build
lib/stormglass/gradle

lib/weather/.gradle
lib/weather/.idea
lib/weather/build
lib/weather/gradle

app-compose-desktop/.gradle
app-compose-desktop/.idea
app-compose-desktop/build
app-compose-desktop/gradle

app-tornadofx/.gradle
app-tornadofx/.idea
app-tornadofx/build
app-tornadofx/gradle
/.gradle/
/.idea/
