/Block[1234]/Task[1234]/build/
/Block[1234]/Task[1234]/.idea/
/Block[1234]/Task[1234]/.gradle/
/Block[1234]/Task[1234]/gradle/


/Block[1234]/Task[1234]/.vs/
/Block[1234]/Task[1234]/Task[1234]/bin/
/Block[1234]/Task[1234]/Task[1234]/obj/
/Block[1234]/Task[1234]/Task[1234]/Properties/
/Block[1234]/Task[1234]/Task[1234]/App.config

/MPI/
/Fibers/
/LocksContinued/
/Codestyle.txt
/Tasks.pdf
/AtomicTypes