<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>DEKANATWEBHELL</title>
</head>

<body>
    <h2>DEKANAT</h2>
    <form method="post" action="contains">
        <p>Id: <input name="id" type="number" value="0" /></p>
        <p>Course: <input name="course" type="number" value="0" /></p>
        <input type="submit" value="Contains?" />
        <button type="submit" formaction="add">Add</button>
        <button type="submit" formaction="remove">Remove</button>
        <button type="submit" formaction="count">Count</button>
    </form>
</body>

</html>