@model int
@{
	ViewData["Title"] = "Dean's Office page";
}

<div class="text-center">
	<h1 class="display-4">
		Dean's Office page
	</h1>
	<h2>Right now there are @Model exam results in the database</h2>


</div>
